<div id="box_yqline"> 
        <div id="box_yqline_sub1"> 
			<div id="FrontLinks_list01-1373333419486" class="FrontLinks_list01-d1_c1"><div>
								<ul class="main">
							<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('c3898a75-d66b-4c22-985a-1af5862c2c0d')"
													title="遥阳科技" target="_blank">遥阳科技</a>
											</h4>
										</li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('4b4d1ca6-1de9-4760-92e0-0596c552943a')"
													title="遥阳科技" target="_blank">遥阳科技</a>
											</h4>
										</li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('d6603440-180f-4883-8424-bd729fa56ff9')"
													title="遥阳科技" target="_blank">遥阳科技</a>
											</h4>
										</li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('b1a75837-df87-441b-973c-5bd6253be789')"
													title="遥阳科技" target="_blank">遥阳科技</a>
											</h4>
										</li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('dc5fa9cc-4dd0-4c64-bdae-eb6449b50233')"
													title="遥阳科技" target="_blank">遥阳科技</a>
											</h4>
										</li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('80fa4045-e11d-4a54-a962-0f3d7f7d5e3d')"
													title="网站建设" target="_blank">网站建设</a>
											</h4>
										</li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('c3de6c36-5a82-4c45-b0d2-bcd201d86a28')"
													title="网站建设" target="_blank">网站建设</a>
											</h4>
										</li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('2dd16421-864e-4efd-bd31-d983a916409f')"
													title="网站建设" target="_blank">网站建设</a>
											</h4>
										</li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('0d6e5716-b517-4631-b8ae-3f422f63755a')"
													title="网站建设" target="_blank">网站建设</a>
											</h4>
										</li>
								<li class="clearBoth"></li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('f99b631e-f1ef-4881-a4d5-bd36277acf42')"
													title="网站建设" target="_blank">网站建设</a>
											</h4>
										</li>
								<li class="content column-num9">
											<h4>
												<a href='http://www.yy.hk.cn'
													onclick="FrontLinks_list01.setClickTimes('607de02b-128c-4f57-80e1-b2b4fbb40934')"
													title="网站建设" target="_blank">网站建设</a>
											</h4>
										</li>
								<li class="clearBoth"></li>
								</ul>
							</div>
							</div>

        </div>  
        <div class="clearBoth"></div> 
      </div>  
	  <!--底部导航-->
      <div id="box_footdh"> 
        <div class="footdh" id="box_footdh_sub1"> 
				<div id="FrontColumns_navigation01-1373335208392" class="FrontColumns_navigation01-d4_c1"><div id="d2menubar_FrontColumns_navigation01-1373335208392" class="mattblackmenu">
						<ul class="nav-first">
							<li class="first">
										<a href="index.html" title="首页">
											首页</a>
										</li>
								<li >
										<a href="" title="关于我们">
											关于我们</a>
										</li>
								<li >
										<a href="" title="新闻中心">
											新闻中心</a>
										</li>
								<li >
										<a href="" title="产品展示">
											产品展示</a>
										</li>
								<li >
										<a href="" title="成功案例">
											成功案例</a>
										</li>
								<li >
										<a href="" title="客户服务">
											客户服务</a>
										</li>
								<li >
										<a href="" title="人才中心">
											人才中心</a>
										</li>
								<li >
										<a href="" title="联系我们">
											联系我们</a>
										</li>
								<li class="last"></li>	
							</ul>
					</div>
					</div> 
        </div>  
        <div class="clearBoth"></div> 
      </div>  
	  <!--底部版权-->
      <div id="box_foot"> 
        <div id="box_foot_sub1"> 
          
          <div id="box_foot_sub1_sub2"> 
            
              <div id="FrontSpecifies_show01-1373871276036" class="FrontSpecifies_show01-d1_c1">
<p>
	COPYRIGHT(C) [year] 重庆宏祥织造有限公司 RIGHTS RESERVED</p>
<p>
	地址:重庆市北碚区歇马镇天马村.<a href="" target="_blank"> 渝ICP备12005977号-1</a></p>
<p>
	电话:023-68248515 手机:13983311561 传真:023-68248515  网址:www.jundunpower.com</p>

</div> 
            
          </div>  
          <div class="clearBoth"></div> 
        </div>  
        
      </div>  
      <!-- 底部版权结束 --> 
    </div>